.contador{
  min-width: 300px;
  height: 300px;
  font-size: 160px;
  display: flex;
  padding: 25px;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  border: 8px solid white;
  margin: 25px 0px;
}